body{
    background-color:#483d8b;
    color:white;
}

h1, h3, a{
    margin-top: 7%;
}
.myButton {
	background-color:#ff8668;
	border-radius:28px;
	border:1px solid #ffbd5b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffbd5b;
}
.myButton:hover {
	background-color:#ffbd5b;
}
.myButton:active {
	position:relative;
	top:1px;
}

<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Height of the footer */
}
footer {
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 40px; /* Height of the footer */
  background-color: #f5f5f5;
}